{
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "etc/webpack.build.js"
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",

    // OFF
    // ---
    "camelcase": "off" // graphql
  }
}
